.ng-valid[required], .ng-valid.required  {
    border-left:6px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 6px solid #a94442; /* red */
}

.container-fluid{
    margin: 3em;
}

.btn-success{
    float: left;
    margin-right: 1em;
}

.btn-dark{
    float: left;
}

#back-button{
    float: right;
}