<div class="card-body">
  <h4 class="card-title">List of books</h4>
  <div>
    <table class="table table-hover table-fixed">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Genres</th>
          <th>Pages</th>
          <th>Publish Date</th>
          <th>Borrowed by/availible</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books" [class.selected]="book === selectedBook" (click)="onSelect(book)">
          <th scope="row">{{book.id}}</th>
          <td>{{book.isbnNumber}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author.firstName+" "+book.author.lastName}}</td>
          <td>
            <div class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-secondary btn-sm btn-block" id="dropdownBasic1" ngbDropdownToggle>{{book.genres[0].type + '...'}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" *ngFor="let genre of book.genres">{{genre.type}}</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>{{book.pageCount}}</td>
          <td>{{book.publishDate}}</td>
          <td>{{book.borrower}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div *ngIf="selectedBook" class="card border-secondary mb-3 w-40">
    <h5 class="card-header">{{selectedBook.title | uppercase}}</h5>
    <div class="card-body">
      <button class="btn btn-dark" (click)="gotoDetail()">View Details</button>
      <button class="btn btn-dark" (click)="edit()">Edit</button>
      <button class="btn btn-dark" (click)="delete(selectedBook); $event.stopPropagation()">Delete</button>
    </div>
  </div>
  <button id="add-button" class="btn btn-dark" (click)="gotoCreate()">Add book</button>
  <book-search></book-search>
</div>