  tr{
    cursor: pointer;
  }
  #add-button{
    float: right;
    margin-bottom: 1em;
  }
  .border-secondary{
    float: left;
  }

  h4{
    float: left;
  }

  book-search{
    float: right;
    margin-right: 2em;
  }
  