<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EDU-Hibernate-JPA2-Suite">

	<listeners>
		<listener class-name="pl.altkom.hibernatejpa.CustomListener" />
	</listeners>

	<suite-files>
		<suite-file path="./unit-tests-suite.xml" />
		<suite-file path="./integration-tests-suite.xml" />
	</suite-files>
	
</suite>